/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 120%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.layouts-title {
    font-size: 26px;
    margin: 15px 0px;
}

.layouts ul li {
    margin-bottom: 5px;
}

.layouts ul li a {
    font-size: 17px;
    display: inline-block;
    padding: 3px 10px;
}

.layouts ul li a:hover {
    background: #000;
    color: #fff;
}

/* -- END RESET -- */

/* -- main styles -- */

.nopad {
    padding: 0px;
}

.nopadleft {
    padding-left: 0px;
}

.nopadright {
    padding-right: 0px;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

em {
    font-style: italic;
}

.clear {
    clear: both;
}

a, button, span {
    transition: color 0.2s, opacity 0.2s, background-color 0.2s, font-weight 0.2s;
}

a:hover {
    text-decoration: none;
}

a:focus, a:active {
    text-decoration: none;
    outline: 0;
}

img {
    max-width: 100%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* .fancybox-close {
    position: absolute;
    top: -40px;
    right: -40px;
    background: url(../img/cross.png) no-repeat center center;
    background-size: cover;
    width: 23px;
    height: 23px;
}

.fancybox-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden !important;
    background: rgba(0, 0, 0, 0.7);
}

.fancybox-close:hover {
    opacity: 0.8;
}

.fancybox-prev {
    left: -60px;
}

.fancybox-prev span {
    width: 29px;
    height: 53px;
    background: url(../img/s-prev.png) no-repeat center center;
}

.fancybox-prev span:hover {
    background: url(../img/o-prev.png) no-repeat center center;
}

.fancybox-next {
    right: -60px;
}

.fancybox-next span {
    width: 29px;
    height: 53px;
    background: url(../img/s-next.png) no-repeat center center;
}

.fancybox-next span:hover {
    background: url(../img/o-next.png) no-repeat center center;
}

.fancybox-prev span {
    visibility: visible !important;
}

.fancybox-next span {
    visibility: visible !important;
}

.fancybox-inner {
    margin: 20px 0;
} */

.hamburger {
    padding: 11px 10px 2px 10px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    border: 0;
    margin: 0;
    overflow: visible;
	position: relative;
	z-index: 20;
}

.hamburger-box {
    width: 26px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 26px;
    height: 3px;
    background-color: #000;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -8px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 4px;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
}

.carousel-inner > .item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  z-index: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
   transition: opacity 1s ease;
  -webkit-transform: translate3d(0, 0, 0) !important;
   transform: translate3d(0, 0, 0) !important;
}
.carousel-inner > .item:first-of-type {
  position: relative;
}
.carousel-inner > .active {
  opacity: 1;
  z-index: 3;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 0;
  z-index: 2;
}
.carousel-inner > .active.left,
.carousel-inner > .active.right {
  z-index: 1;
}
.carousel-control {
  z-index: 4;
}

/*   start   */

.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}

.container {
    width: auto;
}

.header {
	padding-top: 10px;
	margin-bottom: 10px;
}

.logo {
	position:relative;

}

.logo img {
	width: 102px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

.header-selector {
	text-align: center;
}

.header-selector ul li {
	display: inline-block;
}

.header-selector ul li button {
	font-size: 16px;
	padding: 10px;
	color: #6a6a6a;
	background-color: white;
	border: 0 solid;
	border-radius: 32px;
}

.header-selector ul li button:hover {
	background-color: #F7F7F7;
	color: #222222;
}

.search-block-item {
	position: relative;
}

.search-block-item button {
	position: absolute;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
}




.row-header {
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

.search-block {
	border: 1px solid #DDDDDD;
	border-radius: 32px;
    margin-bottom: 20px;
}

.select2-container--default .select2-selection--single {
            background-color: red; /* Фон Select2 */
            border: 1px solid red; /* Цвет рамки */
            color: white; /* Цвет текста */
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: red; /* Фон выделенного элемента в выпадающем списке */
            color: white; /* Цвет текста выделенного элемента */
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: red; /* Фон выбранных элементов (для множественного выбора) */
            color: white; /* Цвет текста выбранных элементов */
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: white; /* Цвет иконки удаления выбранного элемента */
        }


@media screen and (max-height: 767px) {



}

@media screen and (min-width: 767px) {

     a[href*="tel:"] {
        cursor:default;
		pointer-events: none;
		color: #fff;
    }

}
